
@{
    ViewData["Title"] = "Reembolsos";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>Reembolsos</h1>


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <a asp-controller="Moneda" asp-action="Edit" class="btn btn-primary">Agregar Nueva Moneda</a>
        <div class="card-body">
            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Folio
                            </th>
                            <th>
                                Tipo Solicitud
                            </th>
                            <th>
                                Empresa
                            </th>
                            <th>
                                Solicitante
                            </th>
                            <th>
                                Fecha Solicitud
                            </th>
                            <th>
                                Importe Solicitado
                            </th>
                            <th>
                                Estatus
                            </th>
                            <th>
                                Editar
                            </th>
                            <th>
                                Eliminar
                            </th>
                        </tr>
                    </thead>
                    <tbody>
 
                        <tr>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>                            
                                <a class="btn btn-lg" asp-controller="Reembolso" asp-action="Edit">
                                    <i class="fas fa-edit"></i>
                                </a>                            
                            </td>
                            <td>
                                <a class="btn btn-lg" asp-controller="Reembolso" asp-action="Edit">
                                    <i class="fas fa-eraser"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
