@model TravelExpenses.ViewModels.DepartamentoViewModel
@{
    ViewData["Title"] = "Departamentos";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>Departamentos</h1>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <a asp-controller="Departamento" asp-action="Edit" class="btn btn-primary">Agregar Nuevo Departamento</a>
        <div class="card-body">
            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Clave Departamento
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Editar
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var depto in Model.Departamentos)
                        {

                            <tr>
                                <td>@depto.ClaveDepto</td>
                                <td>@depto.Nombre</td>
                                <td>
                                    <a class="btn btn-lg" asp-controller="Departamento" asp-action="Edit" asp-route-clavedepto="@depto.ClaveDepto">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>