@model TravelExpenses.ViewModels.PoliticaViewModel
@{
    ViewData["Title"] = "Politicas";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>Politicas</h1>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <a asp-controller="Politica" asp-action="Edit" class="btn btn-primary">Agregar Nueva Politica</a>
        <div class="card-body">
            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Clave Politica
                            </th>
                            <th>
                                Descripción
                            </th>                         
                            <th>
                                Editar
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var politica in Model.Politicas)
                        {

                        <tr>
                            <td>@politica.IdPolitica</td>
                            <td>@politica.Nombre</td>
                            <td>
                                <a class="btn btn-lg" asp-controller="Politica" asp-action="Edit" asp-route-idpolitica="@politica.IdPolitica">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
