@model TravelExpenses.Core.Destinos

<h4>Destinos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegistrarDestino" method="post" asp-controller="Destinos">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClavePais" class="control-label"></label>
                <input asp-for="ClavePais" class="form-control" />
                <span asp-validation-for="ClavePais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstado" class="control-label"></label>
                <input asp-for="IdEstado" class="form-control" />
                <span asp-validation-for="IdEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCiudad" class="control-label"></label>
                <input asp-for="IdCiudad" class="form-control" />
                <span asp-validation-for="IdCiudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motivo" class="control-label"></label>
                <input asp-for="Motivo" class="form-control" />
                <span asp-validation-for="Motivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaSalida" class="control-label"></label>
                <input asp-for="FechaSalida" class="form-control" />
                <span asp-validation-for="FechaSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaLlegada" class="control-label"></label>
                <input asp-for="FechaLlegada" class="form-control" />
                <span asp-validation-for="FechaLlegada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Folio" class="control-label"></label>
                <input asp-for="Folio" class="form-control" />
                <span asp-validation-for="Folio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Creates" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

