@model TravelExpenses.Controllers.UpdateUserRoleViewModel

@{
}

<div>
    
    <form asp-controller="Roles" asp-action="UpdateUserRole" method="post">
        <h2>Agregar Roles a usuario</h2>

        <label>Usuario</label>
        <select asp-for="UserEmail" class="form-control" >
            <option>Selecciona un usuario</option>

            @{
                foreach (var item in Model.Users)
                {
                    <option>
                        @item.Email
                    </option>
                }
            }

        </select>
        <label>Centro de Costos</label>
       
        <select asp-for="ClaveCentroCosto" class="form-control" >
            <option>Selecciona un Centro de Costos</option>

            @{
                foreach (var item in Model.CentroCostos)
                {
                    <option value="@item.ClaveCentroCosto">
                        @item.Nombre
                    </option>
                }
            }

        </select>

        <label>Roles a agregar</label>
        <select asp-for="Role" class="form-control" >
            <option>Selecciona un Role</option>

            @foreach (var role in Model.Roles)
            {
                <option>
                    @role
                </option>
            }
        </select>
        <br />
        
        <input type="submit" class="btn btn-primary" value="Eliminar Usuario" onclick="document.getElementById('DeleteUser').value = 'true'" />
        <input type="submit" class="btn btn-primary" value="Consultar Permisos" onclick="document.getElementById('Consultar').value = 'true'" />
        <input type="submit" class="btn btn-primary" value="Agregar Role" />
        <input type="hidden" class="btn btn-primary" asp-for="Delete" value="false" id="Eliminar" />
        <input type="hidden" class="btn btn-primary" asp-for="DeleteUser" value="false" id="DeleteUser" />
        <input type="hidden" class="btn btn-primary" asp-for="Consultar" value="false" id="Consultar" />
        <input type="submit" class="btn btn-primary" value="Eliminar Role" onclick="document.getElementById('delete').value = 'true'" />

    </form>
   
</div>

