@model TravelExpenses.Controllers.UpdateUserRoleViewModel

@{
}

<div>
    <form asp-controller="Roles" asp-action="UpdateUserRole" method="post">
        <h2>Agregar Roles a usuario</h2>


        <select asp-for="UserEmail" class="form-control" onchange="SelectItem()">
            <option>Selecciona un usuario</option>

            @{
                foreach (var item in Model.Users)
                {
                    <option>
                        @item.Email
                    </option>
                }
            }

        </select>

        <input type="submit" class="btn btn-primary" value="Eliminar Usuario" onclick="document.getElementById('DeleteUser').value = 'true'" />
        <input type="submit" class="btn btn-primary" value="Consultar Permisos" onclick="document.getElementById('Consultar').value = 'true'" />
        @*<input type="button" class="btn btn-primary" value="Consultar" onclick="location.href='@Url.Action("ObternerPermisos", "Roles", new {email=Model.Users})'" />*@
        <h4>Roles a agregar</h4>
        <ul>
            @foreach (var role in Model.Roles)
            {
                <li>
                    <input type="radio" asp-for="Role" value="@role" />
                    @role
                </li>
            }
        </ul>
        <input type="submit" class="btn btn-primary" value="Agregar Role" />
        <input type="hidden" class="btn btn-primary" asp-for="Delete" value="false" id="Eliminar" />
        <input type="hidden" class="btn btn-primary" asp-for="DeleteUser" value="false" id="DeleteUser" />
        <input type="hidden" class="btn btn-primary" asp-for="Consultar" value="false" id="Consultar" />
        <input type="submit" class="btn btn-primary" value="Eliminar Role" onclick="document.getElementById('delete').value = 'true'" />

    </form>
   
</div>

<script>

    function SelectItem() {
       
    }


</script>