@model TravelExpenses.Controllers.RoleViewModel

@{ }

<div>
    <form asp-controller="Roles" asp-action="CreateRole" method="post">
        <label>Crear nuevo Role</label>
        <input asp-for="Name" />
        <br />
        <input class="btn btn-primary"  type="submit" value="Crear Role" />
    </form>
</div>