@model TravelExpenses.Controllers.DisplayViewModel

@{ }
<div class="container-scroller">

    <div>
        <br />
        <div class="row w-100 mx-0">
            <partial name="_AddUserToRole" model="new TravelExpenses.Controllers.UpdateUserRoleViewModel() { Users = Model.Users, Roles = Model.Roles,CentroCostos=Model.CentroCostos }">
        </div>

        <br />
        @*<div class="class=" col-lg-6">
            <h2>Lista de Roles</h2>
            <br />
            <ul>
                @foreach (var role in Model.Roles)
                {
                    <li>
                        @role
                    </li>
                }
            </ul>
        </div>*@
        @*<div class="class=" col-lg-6">
            <partial name="_CreateRole" model="new TravelExpenses.Controllers.RoleViewModel()">
        </div>*@
        <div class="row w-100 mx-0">
            <br />
            <br />
        </div>
    </div>

</div>


