 
@model TravelExpenses.ViewModels.EmpresaViewModel
@{
    ViewData["Title"] = "Empresas";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>Empresas</h1>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <a asp-controller="Empresa" asp-action="AddEmpresas" class="btn btn-primary">Agregar Nueva Empresa</a>        
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                RFC
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Fecha Alta
                            </th>
                            <th>
                                Editar
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var empresa in Model.Empresas)
                        {

                            <tr>
                                <td>@empresa.RFC</td>
                                <td>@empresa.Nombre</td>
                                <td>@empresa.FechaAlta</td>
                                <td>
                                    <a class="btn btn-lg" asp-controller="Empresa" asp-action="Edit" asp-route-RFC="@empresa.RFC">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>