@page
@model TravelExpenses.Pages.Catalogs.CatalogosGeneralesModel
@{
    ViewData["Title"] = "Catalogos Generales";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Catalogos Generales</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Catálogos</h4>
        <form class="forms-sample">
            <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Clave</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Clave">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Descripción</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Descripción">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputMobile" class="col-sm-3 col-form-label">Tipo</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="exampleInputMobile" placeholder="Tipo">
                </div>
            </div>
           
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <button class="btn btn-light">Cancel</button>
        </form>
    </div>
</div>