@page
@model TravelExpenses.Pages.Catalogs.CiudadesModel
@{
    ViewData["Title"] = "Ciudades";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Ciudades</h1>

<table class="table">
    <th>
       <td>Estado</td>
        <td>Clave Ciudad</td>
        <td>Ciudad</td>
    </th>
    @foreach (var ciudad in Model.Ciudades)
    {
    <tr>
        <td>@ciudad.Estado.NombreEstado</td>
        <td>@ciudad.IdCiudad</td>
        <td>@ciudad.Ciudad</td>
    </tr>
    }
</table>
