@page
@model TravelExpenses.Pages.Catalogs.EstadosModel
@{
    ViewData["Title"] = "Estados";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Estados</h1>

<table class="table">
    @foreach (var estado in Model.Estados)
    {
        <tr>
            <td>@estado.IdEstado</td>
            <td>@estado.Descripcion</td>            
        </tr>
    }
</table>